@font-face {
    font-family: 'Playlist Caps';
    src: url('../fonts/Playlist Caps.otf') format('truetype');
}

@font-face {
    font-family: "Playlist Script";
    src: url('../fonts/Playlist Script.otf');
}

@font-face {
    font-family: "Flama-Light";
    src: url('../fonts/Flama-Light.otf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}